<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css">

<style class="darkreader darkreader--text" media="screen"></style>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download</title>
<body>
</html>

    <div>
      <h3 class="float-md-start mb-0">Mine Play</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav link active"align="left" href="/">Test</a>
        <a class="nav-link active" aria-current="page" href="https://downloader.disk.yandex.ru/disk/e2e3f8ce3078010ae9388c4c524cc17d7728d0fe5bf1e8daa20eb2b2d062eb48/61623095/Gc4tJqwF_8gTQTp0ubc_ep9XWkuZmUU6RAYtGaYFlADsV4o_yowDnvDR9nan35DfcVfdPKEY6me_iJVjhqvmbw%3D%3D?uid=0&filename=test.txt&disposition=attachment&hash=pEXaEYE9%2BGCylq2dQVqxk/wnq496TQsbKIIbA5qGeJ8fsiCPmzwL5znMAgIuqazJq/J6bpmRyOJonT3VoXnDag%3D%3D&limit=0&content_type=text%2Fplain&owner_uid=1496717892&hid=cbe7b309b4bbe3a94682616cb7e88e01&media_type=document&tknv=v2">Download</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Contact</a>
      </nav>
    </div>
</body>
<style>
html {
  background-image: url(static/img/236555110594779694902.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
html
</style>
