<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MinePlay</title>



    <link rel="stylesheet" href="/static/css/style.css">
    <p>
 </body>
</head>
    <div class="wrapper">
        <header class="header">
            <div class="header__logo logo">
                MineShop
            </div>
            <nav class="header__nav nav">
                <ul>
                    <li><a href="/Download">Download</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">About us</a></li>
                </ul>
            </nav>
        </header>
        <div class="block block-intro">
            <div class="intro__image">
                <img src="" alt="">
            </div>
            <h1 class="heading">Добро пожаловать на наш сайт</h1>
        </div>
        <div class="block block-cards">
            <div class="card block-cards__card">
                <div class="card__image">
                    <img src="" alt="">
                </div>
                <div class="card__content">
                    <h6 class="card__heading">Название товара</h6>
                    <p class="card__description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, dolores omnis unde veritatis eveniet rerum hic aliquid, rem non dicta praesentium. Quas error at doloribus. Facere libero adipisci commodi, obcaecati?
                    </p>
                </div>
            </div>
            <div class="card block-cards__card">
                <div class="card__image">
                    <img src="" alt="">
                </div>
                <div class="card__content">
                    <h6 class="card__heading">Название товара</h6>
                    <p class="card__description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, dolores omnis unde veritatis eveniet rerum hic aliquid, rem non dicta praesentium. Quas error at doloribus. Facere libero adipisci commodi, obcaecati?
                    </p>
                </div>
            </div>
            <div class="card block-cards__card">
                <div class="card__image">
                    <img src="" alt="">
                </div>
                <div class="card__content">
                    <h6 class="card__heading">Название товара</h6>
                    <p class="card__description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, dolores omnis unde veritatis eveniet rerum hic aliquid, rem non dicta praesentium. Quas error at doloribus. Facere libero adipisci commodi, obcaecati?
                    </p>
                </div>
            </div>
        </div>

    </div>

</body>
</html>
