<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MinePlay</title>
    <style>
        .button{
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            justify-content: center;
            align-items: center;
            padding: 20px 30px;
            background: #39E639;
            border-bottom: 5px solid #FF0000;
            border-radius: 10px;
            text-decoration: none;
            color: #f0f0f0;
        }
    </style>
</head>
<body>
    <a class='button' href='https://google.com'>Google<a>
</body>
</html>